.container{
    height: 400px;
    border: 2px solid salmon;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.box{
    color: black;
    border: 1px solid rgb(188, 115, 13);
    background-color: aqua;
    width: 100px;
}
#box1{  
    flex-shrink: 10;
}

